@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header{
    background-color:#f4f3ef ;
    width: 100%;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.imgLogo{
    width: 240px;
    padding: 0;
}
.menu{
  display: flex;
  flex-direction: row;
  color: #bea279;
  font-size: 18px;
  height: 42px;
}
.opcaoMenu{
padding-left: 36px;
margin-bottom: 16px;
margin-left: 32px;
transition: all 0.2s ease-in-out;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-weight:normal;
height: 36px;  

}
.opcaoMenu:hover{
border-bottom: 2px solid #b1966c;
}
.opcao1:hover{
    background-image: url(/imgHome.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 26px;
}
.opcao2:hover{
    background-image: url(/imgFuncionarios.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 26px;
}
.opcao3:hover{
    background-image: url(/imgClientes.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 26px;
}
.opcao4:hover{
    background-image: url(/imgCases.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 26px;
}
.opcao5:hover{
    background-image: url(/imgContato.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 26px;
}
footer{
    width: 100%;
    height: 30px;
    background-color:#b1966c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    color: white;
}
.politica{
    cursor: pointer;
}


.redesSociais{
    width: 150px;
}
main{
height: auto;

}
.titulo_acordeon{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    margin-top: 8px;

}


.imagem_banner
{
    height: 1100px;
    padding: 12px;
    border-radius: 20px;
}

.banner{
    font-family: "Montserrat", sans-serif;
}

.banner_fixo{
    width: 100%;
    height: 300px;
    position:static;
    background-image: url(/banner_fixo.png);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
}

.container_noticias{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    
}

.card{
    padding: 6px;
    margin: 18px;
    width: auto;
    font-family: "Montserrat", sans-serif;
}
.card-img-top{
    width: max-content;
}

.card-body{
    width: auto;
}
.accordion{
    padding: 24px;
    width: 800px;
    margin: 0 auto;
}

.accordion{
    font-family: "Montserrat", sans-serif;

}

.formulario_contato{
    width: 100%;
    height: auto;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;

}
.formulario{
display: flex;
justify-content: center;
}

label{
    display: block;
    padding: 8px;
    font-size: 18px;
    font-weight:500;
}
input{
    display: block;
    margin: 6px;
    width: 350px;
    text-align: center;
    border: none;
border-bottom: 2px solid #b1966c;
border-radius: 2px;
outline: none;
}

.btn_enviar_contato{
    margin: 12px;
    text-align: center;
    width: 180px;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #bea279;
    color: white;
    transition: all ease-in-out 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_enviar_contato:hover{
    background-image: url(/favicon.PNG);
    background-position: right;
    background-repeat: no-repeat;
    background-size:56px;
}

.tela_envio_contato{
     font-family: "Montserrat", sans-serif;
   
}

.card-title{
    font-weight: 600;
}